@import 'bootstrap/scss/bootstrap';


:root {
    --main-color: #ffcc33; /* Define your main color */
    --secondary-color: #4B78FF; /* Define secondary color */
    --hover-colour: #ffd700;
    /* Add more variables as needed */
  }