@import 'bootstrap/scss/bootstrap';


:root {
    --main-color: #ff9900; /* Define your main color */
    --secondary-color: #333333; /* Define secondary color */
    --hover-colour: #ffd700;
    /* Add more variables as needed */
  }